@use "./../base";

$green_700: #006D4C;
$green_500: #308276;
$green_300: #98CC00;

$gray: #F8F8F8;

$black: 900;
$bold: 700;
$light: 300;

$gotham: 'Gotham', sans-serif;
$gotham_bold: 'Gotham Bold', sans-serif;
$gotham_black: 'Gotham Black', sans-serif;
