@use '../abstracts' as var;

.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var.$gray;
  gap: 3.1rem;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: start;
    gap: 0;
  }

  .left {
    max-width: 924px;

    @media screen and (min-width: 1200px) {
      height: 652px;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.6rem;
    font-weight: var.$light;
    width: 90%;
    margin: 0 auto;
    gap: 3.3rem;
    padding-bottom: 9rem;

    @media screen and (min-width: 810px) {
      align-items: start;
    }

    @media screen and (min-width: 1200px) {
      width: 50%;
      padding-top: 7rem;
      padding-bottom: 0rem;
      margin-inline: 0;
    }

    h3 {
      font-size: 3.4rem;
      font-family: var.$gotham_bold;
      font-weight: 700;
      color: var.$green_700;
      margin-bottom: 4.4rem;
      background: white;
      width: 100%;

      @media screen and (min-width: 810px) {
        text-align: start;
        alig-self: start;
        padding: 2rem 8.6rem 2rem 3.6rem;
        width: fit-content;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  }

  strong {
    font-family: var.$gotham_bold;
    font-weight: 700;
  }
}

.esperluette {
  @media screen and (min-width: 1200px) {
    margin-left: 7rem;
  }
}

.first-conference, .second-conference {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;

  @media screen and (min-width: 810px) {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;

    .container {
      width: calc(100% - 25px);
    }

  }

  @media screen and (min-width: 1200px) {
    margin-left: 3.1rem;
  }

  &::before {
    content: '';
    background: url('../assets/list-icon.svg');
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (min-width: 810px) {
      margin-top: 0.5em;
    }
  }
}

.expertpays {
  width: 100%;
  background: var.$green_500;
  padding-block: 2em;
  color: white;

  .container-narrow {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    position: relative;

    @media screen and (min-width: 900px) {
      width: 75%;
    }
    @media screen and (min-width: 1200px) {
      width: 65%;
    }
    @media screen and (min-width: 1400px) {
      width: 55%;
    }
    @media screen and (min-width: 1600px) {
      width: 50%;
    }

    .booked-appt-list shown h2 {
      font-size: 2rem;
    }

    h2 {
      font-size: 2.6rem;
      font-family: var.$gotham_bold;
      font-weight: 700;
      text-align: center;
      display: block;
      text-transform: uppercase;
      padding: 0;
      margin: 0;

      &::after {
        display: block;
        content: '';
        height: 13px;
        background: white;
        width: 50%;
        margin: 1em auto 0;
      }

    }
  }
}

.pin {

  @media screen and (min-width: 1200px) {
    position: absolute;
    right: -12%;
    bottom: 17%;;
  }

  @media screen and (min-width: 1600px) {
    right: 4%;
  }
}

.select-container {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  position: relative;

  @media screen and (min-width: 1600px) {
    width: 66%;
  }


  .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: white;
    z-index: 10;
    height: 64px;
    width: 64px;
    pointer-events: none;
    border-left: 1px solid var.$green_500;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-btn {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var.$green_500;
    margin: auto;
  }
}

select {
  width: 100%;
  height: 64px;
  padding-left: 0.5em;
  background: white;
  border: none;
  border-radius: 10px;
  font-family: var.$gotham_bold;
  font-weight: 700 !important;
  font-size: 2rem;
  color: var.$green_500;
}

.experts {
  margin-top: 5rem !important;
  position: relative;
}

.popup {
  position: absolute;
  inset: 0;
  margin: auto;
  max-width: 95%;
  margin-top: 12em;
}

.form-perso {
  display: none;
}

.content.active .form-perso {
  display: block;
  margin-top: 1em;

  & input {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Gotham', sans-serif;
    padding: 2.5rem 2.1rem !important;
    border-radius: 10px;
    border: 1px solid black;
  }
}

.content-popup {
  background: var.$green_500;
  width: 100%;
  height: 113px;
  position: relative;

  img {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
  }

  h3 {
    font-size: 2.9rem;
    font-weight: 700;
    font-family: var.$gotham_bold;

    &.normal {
      font-weight: 300;
      font-family: var.$gotham;
      margin-bottom: 0 !important;
    }
  }
}

.expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0;
  text-align: center;
  height: 1px;
  width: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;

  &.active {
    font-size: 2rem;
    height: auto;
    width: auto;
    opacity: 1;
    pointer-events: auto;
    position: relative;
  }

  h2 {
    font-size: 2.9rem;
    font-family: var.$gotham_bold;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;

    &::after {
      display: none !important;
      content: none !important;
      width: 0 !important;
      height: 0 !important;
      background: transparent !important;
    }
  }

  h3 {
    font-size: 2.3rem;
    font-weight: var.$light;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  p {
    margin-bottom: 2.7rem;
  }
}

.thumbnail {
  width: 242px;
  height: 242px;
  margin-bottom: 2.5rem;
  display: block;

  &.photo-expert img {
    border-radius: 50%;
    width: 242px;
    height: 242px;
  }
}

.fields {
  label {
    display: none !important;
  }

  .fieldCalendar {
    display: none;
  }

  .fieldCalendarService {
    display: none;
  }

  .slots span {
    display: none;
  }
}

#fbuilder .slots {
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

#fbuilder .fields, #fbuilder .fform {
  padding: 0;
}

#cp_appbooking_pform_1 {
  height: fit-content;
}

.slots > br:nth-child(2) {
  display: none;
}

#formheader_1 {
  display: none;
}

#fbuilder .slots .availableslot {
  background: white;
  border: none !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 83px;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;

  a {
    color: black;
    width: 100%;
    padding: 1.4rem 2.9rem;
    background: transparent;
    font-size: 2rem;
    font-weight: var.$light;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

    &:hover {
      background: var.$green_300;
      color: white;
    }
  }
}

.usedSlots {
  display: none !important;
}

.htmlUsed.currentSelection.choosen {
  display: flex !important;
  border: none !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex: 83px;
  background: var.$green_300 !important;

  a {
    color: white !important;
    width: 100%;
    padding: 1.4rem 2.9rem !important;
    background: transparent !important;
    font-size: 2rem;
    font-weight: var.$light;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }
}

#fbuilder .pbSubmit, .pbSubmit {
  background: var.$green_300 !important;
  border: none !important;
  color: white !important;
  border-radius: 10px !important;
  font-size: 2.4rem !important;
  font-family: var.$gotham_bold !important;
  font-weight: 700 !important;
  padding: 2.4rem 4.4rem !important;
  transition: 0.3s ease-in-out;
  margin: 5.7rem 0 0 0 !important;

  &:hover {
    background: white !important;
    color: black !important;
  }
}

.pbSubmit {
  display: none !important;
}

.content.active .pbSubmit {
  display: inline-block !important;
}

.perso-btn.pbSubmit {
  display: inline-block !important;
}

.content.active .perso-btn.pbSubmit {
  display: none !important;
}

#form-perso .pbSubmit {
  display: inline-block !important;
}

#form-perso {
  width: 100%;
  background: white;
  padding: 4.2rem 7.9rem;
  color: black;
}

#form-perso.form-perso {
  display: block !important;
}

#form-perso .form-perso {
  display: block !important;
}

.conferences-generals .container-narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10.3rem;
  max-width: 98%;
  margin-inline: auto;

  @media screen and (min-width: 1500px) {
    max-width: 75%;
  }

  h2 {
    font-size: 2.9rem;
    font-weight: var.$light;
    text-transform: uppercase;
    margin-bottom: 6.3rem;
    border-width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .border {
      height: 13px;
      width: 75%;
      background: var.$green_500;
    }

  }

  .conférences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.4rem;

    @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: start;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .thumbnail {
    width: 100%;
    height: fit-content;
    margin-block: 0 !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: contains;
    }
  }

  .titles {
    background: var.$green_500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 96px;
    text-align: center;
    width: 100%;
  }

  h3 {
    font-weight: 700;
    font-size: 2rem;
    font-family: var.$gotham_bold
  }

  .regular {
    font-weight: 300;
    font-family: var.$gotham;
  }

  .content {
    border: 1px solid var.$green_500;
    padding: 1.9rem 2.6rem;
    text-align: start;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 2rem;

      strong {
        font-weight: 700;
        font-family: var.$gotham_bold;
        color: var.$green_500;
      }
    }

    ul {
      margin-left: 1.5em;
    }
  }

  .date-conference {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var.$gotham_bold;
    color: var.$green_500;
    background: #F8F8F8;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2.6rem;
    margin-block: 3.4rem;
  }

  .inscription {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var.$gotham_bold;
    background: var.$green_300;
    border-radius: 10px;
    padding: 2rem;
    transition: 0.3s ease-in-out;
    display: block;

    @media screen and (min-width: 850px) {
      padding: 4rem;
    }

    &:hover {
      background: #F8F8F8;
      color: var.$green_500;
    }
  }
}

#fbuilder .pbreak {
  @media screen and (min-width: 800px) {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1em;

    .fields:first-of-type {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    .pbSubmit {
      grid-column: 1 / 3;
    }
  }
}

.availableslot a.disabled {
  display: none !important;
}

.entryBlock {
  max-height: fit-content;
}

#root .booked-calendar-wrap {
  height: fit-content !important;
}

#root .booked-appt-list > h2:nth-child(1) {
  font-size: 2rem;
}

#root .bc-col {
  min-height: 57px !important;
  min-width: 57px !important;
}

#root .bc-col.currentDateActive {
  background: var.$green_300 !important;
  font-family: var.$gotham_bold;
  font-weight: 700;
  color: white;
  border: none;
  text-align: center;
  padding: 1rem !important;
  cursor: pointer;
}

#root .entryBlock > div:nth-child(1) {
  height: fit-content !important;
  width: fit-content !important;
}

#root .bc-row.top .bc-col {
  width: 100% !important;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row.days {
  justify-content: space-between;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col ::before {
  display: none !important
}

.remove {
  display: none !important;
}

.currentDateActive {
  padding: 1rem;
}

div.expert:nth-child(1) > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
  height: fit-content !important;
}

div.field:nth-child(4) {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.8em !important;
  margin: 0 !important;
}

div.field:nth-child(4) > input:nth-child(1) {
  width: 100% !important;
}
