@use '../abstracts' as var;

footer .container-narrow {
  max-width: 95%;
  margin-inline: auto;
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  gap: 1.5em;
  color: black;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    gap: 3em;
  }

  @media screen and (min-width: 1500px) {
    max-width: 75%;
  }

  .lien-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
    }
  }

  a {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
}